<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Luiz Flavio</h2>
      <h4>admin@system.com</h4>
    </div>
    <img src="../../../../assets/images/pp.jpg" alt="teste">
  </div>

<mat-divider></mat-divider>

<h2 matSubheader>Paginas</h2>
<a mat-list-item routerLink="/" routerLinkActive="router-link-active" >	<mat-icon>dashboard</mat-icon>Dashboard</a>

<mat-divider></mat-divider>

<h2 matSubheader>Register</h2>
<a mat-list-item routerLink="/posts" routerLinkActive="router-link-active" ><mat-icon> person</mat-icon>Employees</a>
<a mat-list-item routerLink="/posts" routerLinkActive="router-link-active" >	<mat-icon> business</mat-icon>Companies</a>
<a mat-list-item routerLink="/posts" routerLinkActive="router-link-active" ><mat-icon>people</mat-icon>Squads</a>

</mat-nav-list>
